<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      
    <meta name="title" content="Angular Interpreter | Zepl Documentation">
    <title>Angular Interpreter | Zepl Documentation</title>
      
      
    <meta name="description" content="Using the AngularJS interpreter you can render AngularJS 1.7 templates on Zepl paragraphs and leverage the robust two-way binding system. Learn how at Zepl.">
      
    
    
    
        <meta name="author" content="Zepl">
    
    
        <link rel="canonical" href="http://docs.zepl.com/guide/interpreter/angular/">
    
    <link rel="shortcut icon" href="../../../img/favicon.ico">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href='//fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
    <link href="http://docs.zepl.com/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="http://docs.zepl.com/css/style.css">
    <link rel="stylesheet" href="http://docs.zepl.com/css/highlight.css">


    <link href="../../../css/extra.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
    WebFont.load({
        google: {
            families: ['Open Sans', 'PT Sans']
        }
    });
    </script>

    
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-38575365-18', 'docs.zepl.com');
    ga('send', 'pageview');
    </script>
    
</head>

<body>
    <div class="navbar navbar-default">
  <div class="landing-navbar-container hidden-xs">
    <div class="navbar-header">
      <a class="navbar-brand landing-navbar__zepl-logo" href="https://www.zepl.com">
        <img alt="Zepl logo" src="/img/zepl-logo.png" class="landing-navbar__zepl-logo-img">
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="http://docs.zepl.com/" class="">User Guide</a>
        </li>
        <li>
          <a href="http://docs.zepl.com/faq/" class="">FAQ</a>
        </li>
        <li>
          <a href="http://docs.zepl.com/support/" class="">Support</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <div class="container visible-xs">
    <div class="navbar-header">
      <div class="landing-navbar__mobile-menu-button" data-toggle="collapse" data-target=".navbar-collapse">
          <svg width="20" height="20" viewBox="0 0 20 20">
            <title>icons/menu</title>
            <path d="M0 15h20v-1H0v1zm0-4h20v-1H0v1zm0-5v1h20V6H0z" fill="#47354C" fill-rule="evenodd"></path>
          </svg>
        </div>
      <a class="navbar-brand landing-navbar__zepl-logo" href="https://www.zepl.com">
        <img alt="Zepl logo" src="/img/zepl-icon.png" class="landing-navbar__zepl-logo-img">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://docs.zepl.com/" class="">User Guide</a>
        </li>
        <li>
          <a href="http://docs.zepl.com/faq/" class="">FAQ</a>
        </li>
        <li>
          <a href="http://docs.zepl.com/support/" class="">Support</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
    <div class="container">
        
            <div class="toc-menu hidden-xs"><div class="bs-sidebar">
    <form id="mkdocs-search-query" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs">
</form>
    
        
    
        
            
                
    
        <li class="toctree-l1 ">
            Access Controls
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../accesscontrols/organization_permissions/">Organization Permissions</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            Notebooks
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../sharing_notebooks/">Sharing Notebooks</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            External Notebooks
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../zeppelin_integration/">Apache Zeppelin</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../github_integration/">Github</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../s3_integration/">Amazon S3</a>
            
        </li>
    


                   
            </ul>
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../import_notebook/">Import Notebook</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../export_notebook/">Export Notebook</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../exploring_notebooks/">Explore Public Notebooks</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../feature_versioning/">Notebook Versioning</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../autocompletion_notebooks/">Autocompletion</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 current">
            Interpreters
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../spark/">Apache Spark</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../python/">Python</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../jdbc/">JDBC</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../config/">Config</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 current">
            <a class="current" href="./">Angular</a>
            
                <ul>
                
                    <li class="toctree-l3"><a href="#angular-interpreter">Angular Interpreter</a></li>
                    
                        <li><a class="toctree-l4" href="#api">API</a></li>
                    
                        <li><a class="toctree-l4" href="#angular-api">Angular API</a></li>
                    
                
                </ul>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            Accessing Data
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../datasource/datasource/">Data Sources</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../datasource/datasource_integration/">Data Source Integrations</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../datasource/datasource_objects/">Using Zepl Data Sources</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../accessing_data/">Uploading Data</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            <a class="" href="../../resource_mgmt/">Resources</a>
            
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            Partnerships
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../partnerships/snowflake_partner_connect/">Snowflake Partner Connect</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            Authentication
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../authentication/zepl_account/">Zepl Account</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../authentication/authentication_providers/">Authentication Providers</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
                
    
        <li class="toctree-l1 ">
            Enterprise
            <ul class="bs-sidenav sub-nav">
                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/emr_integration/">Amazon EMR Integration</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/custom_image_support/">Custom Image Support</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/custom_image_saas/">SaaS Image Builder</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/custom_image_zcr/">VPC zcr Utility</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/logging_console/">Log Console</a>
            
        </li>
    


                
                    
    
        <li class="toctree-l1 ">
            <a class="" href="../../enterprise/sagemaker/">Sagemaker Integration</a>
            
        </li>
    


                   
            </ul>
        </li>
    


            
        
    
        
    
        
    
</div></div>
            <div class="visible-xs"><form id="mkdocs-search-query" class="wy-form" action="../../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs">
</form></div>
        
        
            
                <!-- Hack to get side menu only to appear if it's a content menu-->
                <div class="guide-content hidden-xs">
<h1 id="angular-interpreter"><a class="toclink" href="#angular-interpreter">Angular Interpreter</a></h1>
<blockquote>
<p>Please note that this feature is in beta and is only available for selected customers.</p>
</blockquote>
<p>The AngularJS interpreter is the port of the <a href="https://zeppelin.apache.org/docs/0.8.0/usage/display_system/angular_frontend.html#frontend-angular-api-in-apache-zeppelin">Frontend Angular API</a> in <em>Apache Zeppelin</em>
.</p>
<p>Using the AngularJS interpreter you can render <a href="https://docs.angularjs.org/misc/version-support-status#long-term-support">AngularJS 1.7</a> templates on Zepl paragraphs and leverage the robust two-way binding system. Similar to <em>Apache Zeppelin</em> we expose a simple <code>AngularJS z object</code> on the front-end side to expose the same capabilities. This z object is accessible in the Angular isolated scope for each paragraph.</p>
<p>You don't need to create new resources or interpreters to start using the Angular interpreter. All you need to do is add the magic keyword <code>%angular</code> to the first line of your paragraph.</p>
<h3 id="api"><a class="toclink" href="#api">API</a></h3>
<table>
<thead>
<tr>
<th>Actions</th>
<th>API</th>
</tr>
</thead>
<tbody>
<tr>
<td>Initiate binding</td>
<td>z.angularBind(var, initialValue, paragraphId)</td>
</tr>
<tr>
<td>Update value</td>
<td>z.angularBind(var, newValue, paragraphId)</td>
</tr>
<tr>
<td>Destroy binding</td>
<td>z.angularUnbind(var, paragraphId)</td>
</tr>
<tr>
<td>Execute Paragraph</td>
<td>z.runParagraph(paragraphId)</td>
</tr>
</tbody>
</table>
<h4 id="basic-example"><a class="toclink" href="#basic-example">Basic example</a></h4>
<ul>
<li>In paragraph A (you can find each paragraph's id in its context menu):</li>
</ul>
<pre><code>%angular

&lt;form class=&quot;form-inline&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;superheroId&quot;&gt;Super Hero: &lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;superheroId&quot; placeholder=&quot;Superhero name ...&quot; ng-model=&quot;superhero&quot;&gt;&lt;/input&gt;
  &lt;/div&gt;
  &lt;p&gt;We will bind {{superhero}} to next paragraph&lt;/p&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.angularBind('superhero',superhero,'20181127-043625_2107755481')&quot;&gt; Bind&lt;/button&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.runParagraph('20181127-043625_210775548')&quot;&gt; Run {{superhero}}&lt;/button&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.angularUnbind('superhero','20181127-043625_210775548')&quot;&gt; UnBind {{superhero}}&lt;/button&gt;
&lt;/form&gt;
</code></pre>
<ul>
<li>In paragraph <code>20181127-043625_210775548</code>:</li>
</ul>
<pre><code>%angular

&lt;div class=&quot;card&quot; style=&quot;width: 18rem;&quot;&gt;
  &lt;img class=&quot;card-img-top&quot; src=&quot;//cdn.zepl.com/032d0183959db90c080f31a2dbae0b7e.gif&quot; alt=&quot;Card image cap&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h5 class=&quot;card-title&quot;&gt;SuperHero&lt;/h5&gt;
    &lt;p class=&quot;card-text&quot;&gt;{{superhero}}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p><img src="../../../img/intp_angular.gif" class="image-box img-100" /></p>
<h3 id="angular-api"><a class="toclink" href="#angular-api">Angular API</a></h3>
<p>We support Angular's <a href="https://docs.angularjs.org/api/ng/directive">ng-directives</a> and <a href="https://docs.angularjs.org/api/ng/filter">ng-filters</a>. You can combine these to build interactive applications on the front-end.</p>
<h4 id="example"><a class="toclink" href="#example">Example</a></h4>
<p>The following example uses <code>ng-init</code>, <code>ng-model</code> and <code>ng-repeat</code> directives and <code>ng-filter(filter:searchText)</code> to make a filterable table.</p>
<pre><code>%angular

&lt;div ng-init=&quot;friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]&quot;&gt;&lt;/div&gt;

&lt;label&gt;Search: &lt;input ng-model=&quot;searchText&quot;&gt;&lt;/label&gt;
&lt;table id=&quot;searchTextResults&quot; class=&quot;table&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Name&lt;/th&gt;
      &lt;th&gt;Phone&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr ng-repeat=&quot;friend in friends | filter:searchText&quot;&gt;
      &lt;td&gt;{{friend.name}}&lt;/td&gt;
      &lt;td&gt;{{friend.phone}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;

&lt;/table&gt;
</code></pre></div>
                <div class="visible-xs">
<h1 id="angular-interpreter"><a class="toclink" href="#angular-interpreter">Angular Interpreter</a></h1>
<blockquote>
<p>Please note that this feature is in beta and is only available for selected customers.</p>
</blockquote>
<p>The AngularJS interpreter is the port of the <a href="https://zeppelin.apache.org/docs/0.8.0/usage/display_system/angular_frontend.html#frontend-angular-api-in-apache-zeppelin">Frontend Angular API</a> in <em>Apache Zeppelin</em>
.</p>
<p>Using the AngularJS interpreter you can render <a href="https://docs.angularjs.org/misc/version-support-status#long-term-support">AngularJS 1.7</a> templates on Zepl paragraphs and leverage the robust two-way binding system. Similar to <em>Apache Zeppelin</em> we expose a simple <code>AngularJS z object</code> on the front-end side to expose the same capabilities. This z object is accessible in the Angular isolated scope for each paragraph.</p>
<p>You don't need to create new resources or interpreters to start using the Angular interpreter. All you need to do is add the magic keyword <code>%angular</code> to the first line of your paragraph.</p>
<h3 id="api"><a class="toclink" href="#api">API</a></h3>
<table>
<thead>
<tr>
<th>Actions</th>
<th>API</th>
</tr>
</thead>
<tbody>
<tr>
<td>Initiate binding</td>
<td>z.angularBind(var, initialValue, paragraphId)</td>
</tr>
<tr>
<td>Update value</td>
<td>z.angularBind(var, newValue, paragraphId)</td>
</tr>
<tr>
<td>Destroy binding</td>
<td>z.angularUnbind(var, paragraphId)</td>
</tr>
<tr>
<td>Execute Paragraph</td>
<td>z.runParagraph(paragraphId)</td>
</tr>
</tbody>
</table>
<h4 id="basic-example"><a class="toclink" href="#basic-example">Basic example</a></h4>
<ul>
<li>In paragraph A (you can find each paragraph's id in its context menu):</li>
</ul>
<pre><code>%angular

&lt;form class=&quot;form-inline&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label for=&quot;superheroId&quot;&gt;Super Hero: &lt;/label&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;superheroId&quot; placeholder=&quot;Superhero name ...&quot; ng-model=&quot;superhero&quot;&gt;&lt;/input&gt;
  &lt;/div&gt;
  &lt;p&gt;We will bind {{superhero}} to next paragraph&lt;/p&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.angularBind('superhero',superhero,'20181127-043625_2107755481')&quot;&gt; Bind&lt;/button&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.runParagraph('20181127-043625_210775548')&quot;&gt; Run {{superhero}}&lt;/button&gt;
  &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary&quot; ng-click=&quot;z.angularUnbind('superhero','20181127-043625_210775548')&quot;&gt; UnBind {{superhero}}&lt;/button&gt;
&lt;/form&gt;
</code></pre>
<ul>
<li>In paragraph <code>20181127-043625_210775548</code>:</li>
</ul>
<pre><code>%angular

&lt;div class=&quot;card&quot; style=&quot;width: 18rem;&quot;&gt;
  &lt;img class=&quot;card-img-top&quot; src=&quot;//cdn.zepl.com/032d0183959db90c080f31a2dbae0b7e.gif&quot; alt=&quot;Card image cap&quot;&gt;
  &lt;div class=&quot;card-body&quot;&gt;
    &lt;h5 class=&quot;card-title&quot;&gt;SuperHero&lt;/h5&gt;
    &lt;p class=&quot;card-text&quot;&gt;{{superhero}}&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
<p><img src="../../../img/intp_angular.gif" class="image-box img-100" /></p>
<h3 id="angular-api"><a class="toclink" href="#angular-api">Angular API</a></h3>
<p>We support Angular's <a href="https://docs.angularjs.org/api/ng/directive">ng-directives</a> and <a href="https://docs.angularjs.org/api/ng/filter">ng-filters</a>. You can combine these to build interactive applications on the front-end.</p>
<h4 id="example"><a class="toclink" href="#example">Example</a></h4>
<p>The following example uses <code>ng-init</code>, <code>ng-model</code> and <code>ng-repeat</code> directives and <code>ng-filter(filter:searchText)</code> to make a filterable table.</p>
<pre><code>%angular

&lt;div ng-init=&quot;friends = [{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]&quot;&gt;&lt;/div&gt;

&lt;label&gt;Search: &lt;input ng-model=&quot;searchText&quot;&gt;&lt;/label&gt;
&lt;table id=&quot;searchTextResults&quot; class=&quot;table&quot;&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;Name&lt;/th&gt;
      &lt;th&gt;Phone&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr ng-repeat=&quot;friend in friends | filter:searchText&quot;&gt;
      &lt;td&gt;{{friend.name}}&lt;/td&gt;
      &lt;td&gt;{{friend.phone}}&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;

&lt;/table&gt;
</code></pre></div>
            
        
    </div>

    <footer class="col-md-12">

        <hr>
        <p>
    </footer>

    <script src="http://docs.zepl.com/js/jquery-2.1.1.min.js"></script>
    <script src="http://docs.zepl.com/js/bootstrap-3.0.3.min.js"></script>
    <script src="http://docs.zepl.com/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    var base_url = '../../..';
    </script>
    <script src="http://docs.zepl.com/js/base.js"></script>
    <script src="http://docs.zepl.com/search/main.js"></script>
    </body>

</html>
